<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>delicious.html</string>
		</array>
		<array>
			<string>github.html</string>
		</array>
		<array>
			<string>googleplus.html</string>
		</array>
		<array>
			<string>pinboard.html</string>
		</array>
		<array>
			<string>recent_posts.html</string>
		</array>
	</array>
</dict>
</plist>
