<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>asides</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>after_footer.html</string>
		</array>
		<array>
			<string>category_feed.xml</string>
		</array>
		<array>
			<string>footer.html</string>
		</array>
		<array>
			<string>head.html</string>
		</array>
		<array>
			<string>header.html</string>
		</array>
		<array>
			<string>navigation.html</string>
		</array>
	</array>
</dict>
</plist>
